body{
    height: 100vh;
    width: auto;
    margin: 0px;
    padding: 0px;   
}

#main-body{
    display: flex;  
    flex-direction: column;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid rgb(128, 128, 128);
    background-color: rgb(190, 0, 0);
    color: white;
    padding: 10px;
}

#app-title{
    margin-left: 20px;
    font-size: 18pt;
    font-weight: lighter;
}
#company-name{
    margin-right: 20px;
    font-size: 18pt;
    font-weight: lighter;
}

#dashboard{
    background-color: rgb(220, 220, 220);
}

#KPI{
    display: flex;
    position: relative;
    justify-content: space-around;
    height: 30vh;
}


#card1{
    display: flex;
    align-items: center;
    justify-content: center;
}

#date{
    text-align: center;
    font-size: 20pt;
    line-height: 2;
}

#card2{
    display: flex;
    text-align: center;
    flex-direction: row;
    font-size: 30pt;
    justify-content: space-around;
}

#card2 p{
    
    padding: 0;
    font-size: 30pt;
}



.card:hover{
    background-color: rgb(245, 245, 245);

}

#card3 {
    flex: 1;
    text-align: center;
    position: relative;
}


h1{
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.kpi-heading{
    font-size: 12pt;
    color: grey;
    font-weight: lighter;
    margin: 0px;
    padding: 0px;
}

#response-table{
    display: flex;
    background-color: white;
    border: 2px solid rgb(128, 128, 128);
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    position: relative;
    justify-content: space-around;
    box-shadow: 0 0 10px grey;
    height: fit-content;
}



#data{
    width: 90%;
    margin: 10px;
    
}

#table-header{
    display: flex;
    flex-basis: 0;
}

#table-rows{
    display: flex;
    flex-basis: 0;
}

.table-cell{
    background-color: white;
    padding: 5px;
    border: 2px solid rgb(128, 128, 128);
    border-left: none;
    width: auto;
}

.table-name{
    border-left: 2px solid rgb(128, 128, 128);
}

#filter{
    margin: 10px;
    width: 10%;
    max-height: fit-content;
    border: 5px solid rgb(128, 128, 128);
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-size: 16pt;
    box-shadow: 0 0 5px grey;
}

#filter-heading{
    font-size: 16pt;
    font-weight: lighter;
    background-color: rgb(190, 0, 0);
    padding: 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 2px solid rgb(128, 128, 128);
    color: white;
}


.filter-value{
    font-size: 16pt;
    margin: 10px;
    width: 16pt;
    height: 16pt;
}


#survey-question{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid rgb(128, 128, 128);
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 0 10px grey;
}

#survey-question:hover{
    background-color: rgb(245, 245, 245);
}



#survey-title{
    font-size: 18pt;
    font-weight: lighter;
    margin-bottom: 10px;
}

#data-table{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 90%;    
    margin-left: 40px;
}


.table-row{
    display: flex;
    flex-basis: 0;
}

.table-cell{
    background-color: rgb(235, 235, 235);
    border-top: 0px;
}
.table-cell:hover{
    background-color: white;
    font-weight: bolder;
}

.row-entry{
    display: flex;
    flex-direction: column;
}

.table-name{
    flex: 7;
}

.table-email{
    flex: 10;
}

.table-country{
    flex: 5;
    text-align: center;
}

.table-date{
    flex: 5;
    text-align: center;
}

.table-ques{
    flex: 5;
    text-align: center;
}

.table-avg{
    flex: 5;
    text-align: center;
}
.header-name{
    flex: 7;
}

.header-email{
    flex: 10;
}

.header-country{
    flex: 5;
    text-align: center;
}

.header-date{
    flex: 5;
    text-align: center;
}

.header-ques{
    flex: 5;
    text-align: center;
}

.header-avg{
    flex: 5;
    text-align: center;
}


.header-cell{
    background-color: rgb(190, 0, 0);
    color: white;
    font-weight: bolder;
    border-top: 2px solid rgb(128, 128, 128);
}
.header-cell:hover{
    background-color: rgb(210, 0, 0);
}
    
#answers{
    display: flex;
    justify-content: space-around;
}

.question-container{
    display: flex;
    flex-direction: column;
    margin: 20px;
    text-align: center;
    background-color: rgb(235, 235, 235);
    border: 2px solid rgb(128, 128, 128);
    border-radius: 10px;
    padding: 20px;
    font-size: 18pt;
    box-shadow: 0 0 10px grey;
}

.question-container:hover{
    background-color: rgb(245, 245, 245);
}

.card{
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 30%;
    background-color: white;
    height: stretch;
    padding: 10px;
    border: 2px solid rgb(128, 128, 128);
    border-radius: 10px;
    box-shadow: 0 0 10px grey;
    align-items: center;
}